<md-card-content>
  <form name="changePassForm" ng-submit="submitChangePassForm()" ng-init="setChangePassFormScope(this)">
    <md-input-container class="md-block" flex>
      <label for="inputCurrentPassword">Current Password</label>
      <input id="inputCurrentPassword" required type="password" name="oldPassword" ng-model="changePassData.oldPassword"
             ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" maxlength="40" minlength="8"/>
      <div ng-messages="changePassForm.oldPassword.$error" role="alert" ng-show="changePassForm.oldPassword.$touched">
        <div ng-message-exp="'required'">Password is required</div>
        <div ng-message-exp="'minlength'">Password should have at least 8 symbols</div>
        <div ng-message-exp="'maxlength'">Password should not have more than 40 symbols</div>
        <div ng-message-exp="'pattern'">Password should contain at least 1 uppercase alphabet, 1 lowercase alphabet and
          1 number
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label for="inputNewPassword">New Password</label>
      <input id="inputNewPassword" required type="password" name="newPassword" ng-model="changePassData.newPassword"
             ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" maxlength="40" minlength="8"/>
      <div ng-messages="changePassForm.newPassword.$error" role="alert" ng-show="changePassForm.newPassword.$touched">
        <div ng-message-exp="'required'">Password is required</div>
        <div ng-message-exp="'minlength'">Password should have at least 8 symbols</div>
        <div ng-message-exp="'maxlength'">Password should not have more than 40 symbols</div>
        <div ng-message-exp="'pattern'">Password should contain at least 1 uppercase alphabet, 1 lowercase alphabet and
          1 number
        </div>
      </div>
    </md-input-container>
    <md-input-container class="md-block" flex>
      <label for="inputConfirmPassword">Confirm Password</label>
      <input id="inputConfirmPassword" required type="password" name="confirmPassword"
             ng-model="changePassData.confirmPassword" maxlength="40" minlength="8"
             ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" compare-to="changePassData.newPassword"/>
      <div ng-messages="changePassForm.confirmPassword.$error" role="alert"
           ng-show="changePassForm.confirmPassword.$touched">
        <div ng-message-exp="'required'">Password is required</div>
        <div ng-message-exp="'minlength'">Password should have at least 8 symbols</div>
        <div ng-message-exp="'maxlength'">Password should not have more than 40 symbols</div>
        <div ng-message-exp="'pattern'">Password should contain at least 1 uppercase alphabet, 1 lowercase alphabet and
          1 number
        </div>
        <div ng-message-exp="'compareTo'">Confirm password should match new password</div>
      </div>
    </md-input-container>
    <div layout="row" layout-padding layout-align="center center">
      <span class="message" ng-class="{ 'success': changePassData.msg.success, 'error': changePassData.msg.error }">
        {{ changePassData.msg.message }}
      </span>
    </div>
    <div layout="row" layout-align="center center">
      <md-button type="submit" class="md-raised md-primary">Update</md-button>
    </div>
  </form>
</md-card-content>
