<landing-header></landing-header>

<main layout="row" flex ng-cloak>
  <!-- Hero section -->
  <div class="hero-background" layout="column" layout-align="center center" layout-padding flex>
    <canvas-trianglify></canvas-trianglify>
    <md-card ng-controller="ResetPasswordController" class="login">
      <spinner ng-if="isLoading"></spinner>
      <md-card-title>
        <md-card-title-text layout-align="center center">
          <h1 class="md-headline">Reset Password</h1>
          <p class="md-subheader md-warn" ng-bind-html="error"></p>
          <p class="md-subheader md-warn" ng-bind-html="errorMatch"></p>
          <p class="success md-subheader md-warn" ng-bind-html="msg"></p>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form name="resetForm" ng-submit="submitResetForm()">
          <md-input-container class="md-block" flex>
            <label for="password">New Password</label>
            <input id="password" required type="password" name="password" ng-model="data.password"
                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" maxlength="40" minlength="8"/>
            <div ng-messages="resetForm.password.$error" role="alert" ng-show="resetForm.password.$touched">
              <div ng-message-exp="'required'">Password is required</div>
              <div ng-message-exp="'minlength'">Password should have at least 8 symbols</div>
              <div ng-message-exp="'maxlength'">Password should not have more than 40 symbols</div>
              <div ng-message-exp="'pattern'">Password should contain at least 1 uppercase alphabet, 1 lowercase alphabet and 1 number</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label for="loginPasswordRepeat">Repeat New Password</label>
            <input id="loginPasswordRepeat" required type="password" name="confirmPassword" ng-model="data.confirmPassword" compare-to="data.password"
                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" maxlength="40" minlength="8"/>
            <div ng-messages="resetForm.confirmPassword.$error" role="alert" ng-show="resetForm.confirmPassword.$touched">
              <div ng-message-exp="'required'">Password is required</div>
              <div ng-message-exp="'minlength'">Password should have at least 8 symbols</div>
              <div ng-message-exp="'maxlength'">Password should not have more than 40 symbols</div>
              <div ng-message-exp="'pattern'">Password should contain at least 1 uppercase alphabet, 1 lowercase alphabet and 1 number</div>
              <div ng-message-exp="'compareTo'">Must match the previous entry</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Submit</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</main>

<landing-footer></landing-footer>
