<spinner ng-if="isLoading" full-screen="true"></spinner>
<landing-header></landing-header>

<main layout="row" flex ng-cloak>
  <sidebar-menu layout="column"></sidebar-menu>
  <div layout="column" flex ng-cloak>
    <md-toolbar class="md-hue-1" layout="row">
      <h1 class="md-toolbar-tools">{{currentProject.name}}</h1>
    </md-toolbar>
    <div layout="row" hide-gt-sm>
      <md-button ng-click="toggleLeft()" class="md-primary md-raised">
        <md-icon md-svg-icon="menu" aria-label="Menu" title="menu"></md-icon>
        Dashboard Menu
      </md-button>
    </div>
    <div layout="row">
      <div class="charts-block" layout-padding layout-wrap layout="row" layout-align="center stretch" flex>

          <dashboard-line-chart class="dashboard-line-chart"></dashboard-line-chart>
          <dashboard-pie-chart></dashboard-pie-chart>
          <dashboard-trends layout="column"></dashboard-trends>

      </div>
      <p class="md-warn" ng-show='noReleaseMessage'>No activities for current release!</p>
    </div>
  </div>
</main>

<landing-footer></landing-footer>

<!--<p class="chart-title">Components</p>-->
<!--<p class="no-release-mess" ng-show='noReleaseMessage'>No activities for current release!</p>-->
<!--<div id="pie-chart-components" items="limitedIdeas"></div>-->
<!--<div class="hc-pie" items="limitedIdeas"></div>-->
