$orange-opacity-c: rgba(247, 148, 30, 0.8);
$orange-c: rgba(247, 148, 30, 1);
$grey-c: rgb(61, 61, 61);
$light-grey-c: rgb(135, 135, 135);
$success-text: #3C763D;
$error-text: #FF0000;

//website template color
$lavender: #5a7dd4;
$blue-curacao: #4ac1cc;
$blue-curacao-lighter: #72d6df;
$peapod: #50E069;
$peapod-darker: #2FD644;
$btn-color: $blue-curacao;
$btn-text-color: #fff;
$error-color: #d61c17;
$success-color: #9cd21c;
