<landing-header></landing-header>

<main layout="row" flex ng-cloak>
  <!-- Hero section -->
  <div class="hero-background" layout="column" layout-align="center center" layout-padding flex>
    <canvas-trianglify></canvas-trianglify>
    <md-card ng-controller="ForgotPasswordController" class="login">
      <spinner ng-if="isLoading"></spinner>
      <md-card-title>
        <md-card-title-text layout-align="center center">
          <h1 class="md-headline">Forgot Password</h1>
          <p class="md-subheader md-warn" ng-bind-html="error"></p>
          <p class="success md-subheader" ng-bind-html="msg"></p>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form name="forgotForm" ng-submit="sendForgotPass()">
          <md-input-container class="md-block" flex>
            <label for="loginEmail">Email</label>
            <input id="loginEmail" required type="email" name="email" ng-model="data.email"
                   ng-pattern="/^.+@.+\..+$/" maxlength="100" />
            <div ng-messages="forgotForm.email.$error" role="alert" ng-show="forgotForm.email.$touched">
              <div ng-message-exp="'required'">Email is required</div>
              <div ng-message-exp="'maxlength'">Email should not have more than 100 symbols</div>
              <div ng-message-exp="'pattern'">Incorrect email format</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary">Submit</md-button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</main>

<landing-footer></landing-footer>
