<md-dialog aria-label="Sign Up Dialog" ng-cloak flex-sm="80" flex="50" ng-controller="GetInTouchController">
  <spinner ng-if="isLoading"></spinner>
  <md-toolbar layout-padding>
    <div class="md-toolbar-tools">
      <h2>You can request credentials by contacting us:</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="close" aria-label="Close dialog" alt="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <get-in-touch layout-padding></get-in-touch>
</md-dialog>
